@import url(../../node_modules/foundation-sites/dist/css//foundation.css);
body {
  background: #F5F5F5; }

.title-bar {
  background-color: transparent; }

.menu-icon-wrapper {
  padding: 10px;
  background-color: #000000; }

.profile-picture, .video-section h3, #bio, #appearances, #trophies h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.profile-picture img {
  border-radius: 50%;
  margin: 10px; }

.card-section img {
  height: 100px;
  width: 100px; }

#myCanvas {
  margin: auto; }

.footer {
  background-color: #000000;
  color: #ffffff; }

/*

main{
    padding: 0 25%;
}
.card{
    height: 300px;
    width: 300px;
}
.appearance-table{
    width: 100%;
    thead {
        border-top: 2px solid $primary-color;
        border-bottom: 2px solid $primary-color;
        th {
            text-align: center;
            padding: 10px;
            color: $tertiary-color;
            border: 1px solid $secondary-color;
        }
    }
    tbody {
        tr {
            border-bottom: 1px solid $secondary-color;
            color: $secondary-color;
            td {
                padding: 10px;
                border: 1px solid $secondary-color;
            }
            th {
                padding-left: 10px;
                border: 1px solid $secondary-color;
            }
        }
    }
}

section h3{
    color: $other-color;
    font-size: 1.5em;
}

details, summary{
    padding: 5px;
}

details{
    [open]{
        color: $other-color;
    }
}

.form-button {
    color: $secondary-color;
    background-color: $tertiary-color;
    text-decoration:none;
    padding:5px 10px;
    margin-top:10px; 
    border-radius:3px;
    font-size:1em;
}

*/
